<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rbware.glass.photogallery"
    >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_photo_50"
        android:label="@string/glass_app_name"
        >

        <activity
            android:name="com.rbware.glass.photogallery.GalleryActivity"
            android:label="@string/glass_app_name" >

            <intent-filter android:label="@string/glass_app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                    android:name="com.google.android.glass.VoiceTrigger"
                    android:resource="@xml/voice_trigger_start" />

        </activity>

        <activity
                android:name="com.rbware.glass.photogallery.VideoPlayerActivity"
                android:label="@string/glass_app_name" />
    </application>

</manifest>
